.topJumbo {
    background-image: url(https://images.unsplash.com/photo-1558647913-d1c0e5d478fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: contain;
    background-color: plum;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 75px;
    color: purple;
}